body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #313131;
}
main {
    width: 100%;
    height: 100vh;
}
.payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
}